<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    This is our future Dashboard.
    This is an unformatted version, don't worry. Just for development purposes. <br>

    <h1>Dashboard</h1>

    <h2>Advertisements, Topics, Viewership and Information About You</h2>

    <p>Ads Seen Per Day: {{ ad_view_freq }}</p>
    <p>Account Based In: {{ account_based_in }}</p>
    <p>Possible Phone Numbers: {{ possible_phone_numbers }}</p>

</body>

</html>