<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    This is our future Dashboard.
    This is an unformatted version, don't worry. Just for development purposes. <br>

    <h1>Dashboard</h1>

    <h2>Advertisements, Topics, Viewership and Information About You</h2>

    <p>You see approximately {{ ad_view_freq }} advertisements per day</p>
    <p>Your account is based in {{ account_based_in }}</p>
    <p>Your possible phone number is {{ possible_phone_numbers }}</p>
    <p>You latest topics are {{ latest_topics }}</p>
    <p>Your most common activity is {{ most_active_zone }}</p>

</body>

</html>