<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Insights</title>
</head>

<body>

    Hello! This project is still in development!

    # Upload File
    <form method="post" enctype="multipart/form-data">
        <label for="file">Select a .zip file to upload:</label>
        <input type="file" id="file" name="file" accept=".zip">
        <input type="submit" value="Upload">
    </form>

</body>

</html>